# Movies-Hunter
data/posters/full/*
data/posters/thumbnail/*
data/trailers/*
!data/posters/full/.gitkeep
!data/posters/thumbnail/.gitkeep
!data/trailers/.gitkeep

# Hidden files
.DS_Store

# Dependency directories
node_modules

# Logs
npm-debug.log*
